.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &.left {
        justify-content: flex-start;
    }
}

html,
body {
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-size: 1rem;
}

:root {
    --blue: rgb(7, 81, 207);
}

nav {
    ul,
    li {
        list-style: none;
        font-family: "IBM Plex Mono", monospace;
    }

    ul {
        padding: 0;
    }

    height: 74px;
    border-bottom: 1px solid black;
    background: white;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "IBM Plex Mono", monospace;
    color: hsl(217.8, 93.5%, 42%);
    text-rendering: geometricPrecision;
}

$headers: (
    1: 2em,
    2: 1.5em,
    3: 1.17em,
    4: 1em,
    5: 0.83em,
);

@each $level, $value in $headers {
    .fs-#{$level} {
        font-size: #{$value};
    }

    .h#{$level},
    h#{$level} {
        font-size: #{$value};
    }
}

p.subheading {
    font-size: 1.1rem;
    color: hsl(217.1, 12.1%, 33.9%);
    line-height: 1.4rem;
}

$spacings: (
    1: 1rem,
    2: 1.5rem,
    3: 2rem,
    4: 3rem,
    5: 4rem,
);

@each $level, $value in $spacings {
    .mt-#{$level} {
        margin-top: #{$value};
    }

    .mb-#{$level} {
        margin-bottom: #{$value};
    }

    .pt-#{$level} {
        padding-top: #{$value};
    }

    .pb-#{$level} {
        padding-bottom: #{$value};
    }
}

@each $level, $value in $spacings {
    .gap-#{$level} {
        gap: #{$value};
    }
}

$alignments: (left, center, right);

@each $alignment in $alignments {
    .text-#{$alignment} {
        text-align: #{$alignment};
    }
}

//
// Anchors.
//
a {
    color: black;
    &:visited {
        color: black;
    }
    &.btn {
        padding: 12px;
        text-decoration: none;
        text-align: center;

        &.primary {
            border: 1px solid var(--blue);
            background: var(--blue);
            color: white;
        }

        &.secondary {
            &:hover {
                text-decoration: underline;
            }
        }

        &.cta {
            padding: 18px;
            font-size: 1.2em;
        }
    }
}

//
// Video embeds.
//
.embed {
    border: 2px solid var(--blue);
    border-radius: 12px;
    box-shadow:
        6px 6px 0 #074dcf0f,
        -6px -6px 0 #074dcf0f;
    max-width: 100%;
    max-height: 100%;
}

main {
    padding: 0 1rem;
    background: color-mix(in oklab, hsl(214.3, 94.6%, 92.7%) 40%, transparent);
    min-height: 100vh;
}

.grid {
    display: grid;
    place-items: start;
    grid-template-columns: repeat(2, 1fr);
}

///
/// Responsive styles.
///
@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }

    br {
        display: none;
    }
}

$container: (
    576px: 540px,
    768px: 720px,
    992px: 960px,
    1200px: 1140px,
    1400px: 1320px,
);

@each $breakpoint, $width in $container {
    @media all and (min-width: $breakpoint) {
        .container {
            width: $width;
            margin: 0 auto;
        }
    }
}

.font-primary {
    font-family: "IBM Plex Sans", sans-serif;
}

.font-monospace {
    font-family: "IBM Plex Mono", monospfont-monospace;
}

$weight: (
    normal: 400,
    semibold: 500,
    bold: 600,
);

@each $name, $weight in $weight {
    .fw-#{$name} {
        font-weight: #{$weight};
    }
}
